<div class="container">
    <div class="my-4 card bg-dark">
        <h1 class="text-center text-primary"> This is Admin Page </h1>

        <ul>
            <li><a class="nav-link" ><button class="btn btn-md btn-outline-primary" 
                   [routerLink]="['/lazy/login']" >User Dashboard</button></a></li>
            <li><a class="nav-link"><button class="btn btn-md btn-outline-primary" 
                   [routerLink]="['/lazy/dashboard']">LogIn</button></a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>

