<nav class="navbar navbar-expand-lg bg-dark text-info">
  <div class="container-fluid">
    <a class="navbar-brand badge" href="#">TECTES</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link "href="#" [routerLink]="['/home']"><button class="btn btn-lg btn-outline-info">Home</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/about']"><button class="btn btn-lg btn-outline-info">About</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/lazy']"><button class="btn btn-lg btn-outline-info">Admin</button></a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<!-- Adding Routed component here  -->
<router-outlet></router-outlet>